.idea/
*.pyc
youtube_video_distribution/databases/
youtube_video_distribution/logs/
plots/
adaptive_streaming/dashvideo/*
adaptive_streaming/hlsvideo/*
!adaptive_streaming/dashvideo/README.md
!adaptive_streaming/hlsvideo/README.md
